@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
  padding: 5px;
}
/* common css end  */

/* shared style */
.text-primary {
  color: #4e47ff;
}
.text-secondary {
  color: #252432;
}

.text-tertiary {
  color: rgba(0, 0, 0, 0.5);
}

.btn-primary {
  background-color: #4e47ff;
  color: #ffffff;
  padding: 12px 36px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
}

.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.section-title {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 42px;
}

/* header style*/
header {
  background-image: url("../images/Hero-bg.png");
}
.main {
  display: flex;
  justify-content: space-between;
}

nav .logo a {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}

nav .banner {
  padding: 209px 0 152px 0;
  text-align: center;
}

nav {
  padding-top: 50px;
}

.banner h2 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 65px;
  width: 905px;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 37px;
}

/* action section */
.action-section {
  padding: 116px 0;
}

.action-section .action-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.action-section .action-main div img {
  border-radius: 48px;
  width: 100%;
}

.action-section .action-main p {
  font-size: 24px;
  padding: 23px 0;
  color: rgba(37, 36, 50, 0.5);
  width: 517px;
  max-width: 100%;
  margin: 0 auto;
}

/* productive-users-section */

.productive-users-main {
  background-color: rgba(78, 71, 255, 0.1);
  border-radius: 24px;
  padding: 50px 142px;
}

.productive-users-main h3 {
  text-align: center;
  font-size: 38px;
}

.productive-users-section .users {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 40px;
}
.productive-users-section .users p {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 80px;
}
.productive-users-section .users span {
  display: block;
  text-align: center;
  font-size: 20px;
}
